{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fill Survey</title>
  <link rel="stylesheet" href="{% static "survey/styles.css" %}">
</head>
<body>
<h2><a href="{% url 'survey-list'  %}">All surveys</a></h2>

{% if is_favourite %}

    <p>this is my favourite</p>
{% else %}
    <form action="{% url 'edit_survey_success' %}"  method = 'POST' enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="survey_id" value = {{pk}}>
    
    {% for field  in form  %}  
        {% comment %} {{field.name }} {{survey_form.10}} {% endcomment %}
            <div class ="form-control {% if field.errors %} errors{% endif %} ">
                {{field.label_tag}}
                {{field }}
                {{field.errors}}
            </div>                                 
    {% endfor %}    
  <button type='submit'>Submit</button>      
    </form>
{% endif %}

</body>
</html> 